<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Maintain Logs</title>
    </head>
    {% load i18n %}
    <body>
        <h1 align="center">{% trans 'Maintain logs' %}</h1>
        <table border="1" cellpadding="0" cellspacing="0">
            <th width="120px">{% trans 'Customer' %}</th>
            <th width="130px">{% trans 'Product' %}</th>
            <th>{% trans 'Maintain Code' %}</th>
            <th width="130px">{% trans 'Manufacture Date' %}</th>
            <th width="130px">{% trans 'Carry Date' %}</th>
            <th width="150px">{% trans 'Bug Found By Customer' %}</th>
            <th width="300px">{% trans 'Bug Found By Tester' %}</th>
            <th width="300px">{% trans 'Maintain Result' %}</th>
            <th width="130px">{% trans 'Maintain Date' %}</th>
            <th>{% trans 'Receive Express Number' %}</th>
            <th>{% trans 'Invoice Number' %}</th>
            <th>{% trans 'Express Delivery' %}</th>
        {% if maintain_logs %}
            {% for log in maintain_logs %}
            <tr>
                <td>{{ log.customer }}</td>
                <td>{{ log.product }}</td>
                <td align="center">{{ log.code }}</td>
                <td align="center">{{ log.manufacture_date }}</td>
                <td align="center">{{ log.carry_date }}</td>
                <td>{{ log.bug_find_by_customer }}</td>
                <td>
                    <ul>
                    {% for bug in log.maintainbug_set.all %}
                        <li>
                        {{ bug.bug_type }} : {{ bug.description }}
                        </li>
                    {% endfor %}
                    </ul>
                </td>
                <td>{{ log.result }}</td>
                <td align="center">{{ log.maintain_date }}</td>
                <td>{{ log.receive_express_number }}</td>
                <td>{{ log.invoice_number }}</td>
                <td>{{ log.express }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </table>
    </body>
</html>

